# vim: ft=yaml
#
# Set values specific to:
#   salt['config.get']('os_family') == RedHat.
#
# You just need to add the key:values for this `os_family` that differ
# from `defaults.yaml` + `<osarch>.yaml`.
#
# If you do not need to provide defaults via the `os_family` config,
# you can remove this file or provide at least an empty dict, e.g.
# values: {}
{%- set os = "rhel" if grains["os"] | lower in ["rocky", "almalinux", "redhat"] else grains["os"] | lower %}
---
values:
  lookup:
    pkg_manager: yum
    pkg:
      client:
        repo: MariaDB-client
      galera:
        pkg: mariadb-server-galera
      server:
        repo: MariaDB-server
    socket:
      pkg: /var/lib/mysql/mysql.sock
      repo: /var/lib/mysql/mysql.sock
    config: /etc/my.cnf
    config_dir: /etc/my.cnf.d
    config_files:
      client: client.cnf
      mysql-clients: mysql-clients.cnf
      galera: galera.cnf
      server: server.cnf
    group_file_mapping:
      client:
        - client
        - client-mariadb
      mysql-clients:
        - mysql
        - mysql_upgrade
        - mysqladmin
        - mysqlbinlog
        - mysqlcheck
        - mysqldump
        - mysqlimport
        - mysqlshow
        - mysqlslap
      # This is actually part of `server` in RH/official repo pkgs, but I like the Debian way better
      galera:
        - galera
      server:
        - server
        - mysqld
        - embedded
        - mariadb*
    libgalera:
      pkg: /usr/lib64/galera/libgalera_smm.so
      repo: /usr/lib64/galera-4/libgalera_smm.so
    repos:
      stable:
        humanname: MariaDB stable
        name: mariadb_stable
        baseurl: https://mirror.mariadb.org/yum/{version}/{{ os }}/$releasever/$basearch
        gpgkey: https://supplychain.mariadb.com/MariaDB-Server-GPG-KEY
        gpgcheck: 1
        repo_gpgcheck: 1
        sslverify: 1
        sslcacert: /etc/pki/tls/certs/ca-bundle.crt
    config_defaults:
      pkg:
        mysqld:
          datadir: /var/lib/mysql
          socket: /var/lib/mysql/mysql.sock
          log-error: /var/log/mariadb/mariadb.log
          pid-file: /run/mariadb/mariadb.pid
...
